.action-button {
  margin-right: 8px;
  border-radius: 8px !important;
  font-weight: 500;
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  min-width: 120px; 
  justify-content: center; 
}

.action-button:last-child {
  margin-right: 0;
}
.action-button.edit {
  background-color: #a0bdfc;
  border-color: #a0bdfc;
}
.action-button.edit:hover {
  background-color: #fdfeff !important;
  border-color: #a0bdfc !important;
}
.action-button.view {
  background-color: #5eecbd;
  border-color: #10b981;
}
.action-button.view:hover {
  background-color: #fafafa !important;
  border-color: #059669 !important;
}

.add-button {
  background-color: #5a96f5;  /* Xanh dương tươi */
  border-color: #83a1d1;
  border-radius: 8px;
  font-weight: 600;
  padding: 6px 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(59, 130, 246, 0.3); /* Đổ bóng nhẹ */
  transition: all 0.2s ease-in-out;
  color: black;
}

.add-button:hover {
  background-color: #f9f9f9 !important;
  border-color: #2563eb !important;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
}

.action-button.device {
  background-color: #dcfce7;
  border: 1px solid #22c55e;
  color: #14532d;
}
.action-button.delete {
  background-color: #ef9fa2;
  border: 1px solid #bd3539;
  color: #0e0e0e;
}