/* Bạn có thể thêm vào file App.css hoặc inline style */
.dashboard-container {
  background: linear-gradient(to bottom right, #e0f2ff, #f5faff);
  padding: 24px;
  min-height: 100vh;
}

.statistic-card {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistic-card:hover {
  transform: translateY(-2px);
}
.ant-statistic-title {
  font-size: 13px; 
}

.ant-statistic-content {
  font-size: 18px; 
}
